.supercontainer {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('/new_back.png');
}


.team1 {
  height: 35vh;
  width: 35vw
}

#team1hp {
}

.team2{
  height: 49vh;
  width: 49vh;
}

.App-header {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('/background.png');
}

.winner-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('/win.jpg');
}


.move-container {
  /* height: 20%; */
  position:relative;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.battle-grid {
  position: relative;
  display: grid;
  display: 5px;
  grid-template-columns: 1fr  1fr;
  grid-template-rows: 1fr 1fr ;
}
